---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} id="experiencia" class="bg-[#030712] py-2 px-6">
  <div class="container mx-auto max-w-4xl">
    
    <div class="flex flex-col items-center text-center mb-16 space-y-4">
        
        <span class="inline-block bg-slate-800 text-slate-200 border border-slate-700 px-5 py-2 rounded-full text-sm md:text-base font-bold tracking-wide uppercase transition-transform duration-300 hover:scale-105 cursor-default shadow-md shadow-slate-900/50">
        {blok.title}
        </span>
      
      <p class="text-gray-400 text-lg md:text-xl max-w-2xl">
        {blok.subtitle}
      </p>
    </div>

    <div class="flex flex-col gap-6">
      {
        blok.items?.map((item: any) => {
          return <StoryblokComponent blok={item} />
        })
      }
    </div>

  </div>
</section>